body {
    background-color: #275534;
}
hr {
    color: #d3bd5d;
}
h1 {
    color: #d3bd5d;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: #d3bd5d;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
    color: #aa8b24;
    text-align: center;
    text-decoration: underline;
}
p {
    font-size: medium;
    color: white;
    text-align: center;
}
ul {
    color: white;
    list-style-type: square;
    padding-left: 25%;
    padding-right: 25%;
}
a:link {
    color: orange;
}
a:visited {
    color: grey;
}
a:hover {
    color: red;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}